.btn-submit {
    padding: 13px;
    background-color: rgba(8, 90, 26, 0.3);
    border: 1px solid azure;
    font-size: 17px;
    color: azure;
    border-radius: 8px;
    transition: 1.5s;
    margin-bottom: 10px;
    cursor: pointer;
}
