.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(8, 90, 26, 0.3);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    margin-top: 20px;
}